{% extends "dl_package/matsu_fes_base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <h2>シリアル番号登録ページ</h2>
        <br><br><br><br>
        <small><p>シリアル番号は0611教室で販売中です！</p></small>
        {% if form.errors %}
            <div class="red">
                {{ form.errors }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% bootstrap_messages %}

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button "登録" button_type="submit" class="btn-primary" %}
        </form>
    </div>
{% endblock %}