{% load static %}
<html>

<head>
    <title>Bonjory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'dl_package/css/dl_package.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Bonjory（ロゴ）</a></h1>

        {% if user.is_staff %}
            <small>
                <a href="{% url 'verPost_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'verPost_draft_list' %}" class="top-menu">Drafts</span></a>
                <p class="top-menu">(</p>
                <p class="top-menu">Hello {{ user.username }} </p>
                <form class="top-menu" id="logout-form" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <a href="#" id="logout-link">ログアウト</a>
                </form>
                <p class="top-menu">)</p>
            </small>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
    </div>
    {% if matsu_fes_page %}
        <div class="matsu_fes container">
            <div class="row">
                <div class="col-md-12">
    {% else %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{% static 'dl_package/js/scripts.js' %}"></script>
</body>

</html>