{% load static %}
<html>

<head>
    <title>Bonjory</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'dl_package/css/dl_package.css' %}">
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Bonjory（ロゴ）</a></h1>

        {% if user.is_authenticated %}

            <small>
                <a href="{% url 'verPost_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'verPost_draft_list' %}" class="top-menu">Drafts</span></a>
                <p class="top-menu">(</p>
                <p class="top-menu">Hello {{ user.username }} </p>
                <form class="top-menu" id="logout-form" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <a href="#" id="logout-link">ログアウト</a>
                </form>
                <p class="top-menu">)</p>
            </small>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
    </div>
    {% if matsu_fes_page %}
        <div class="matsu_fes container">
            <div class="row">
                <div class="col-md-12">
    {% else %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    <script src="{% static 'dl_package/js/scripts.js' %}"></script>
</body>

</html>