{% extends "dl_package/matsu_fes_base.html" %}
{% load django_bootstrap5 %}

{% block content %}

    {% if form.errors %}
        <div class="red">
            {{ form.errors }}
        </div>
    {% else %}
        <h2>お問い合わせフォーム</h2>
    {% endif %}
    <p><br>*のついた欄は必須項目です</p>
    <p>対応には時間がかかる場合がございます．ご了承ください．</p>

    {% bootstrap_messages %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "送信" button_type="submit" class="btn-primary" %}
    </form>
{% endblock %}