{% load static %}
<html>

<head>
    <title>Bonjory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'dl_package/css/dl_package.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>  
    <nav class="fixed-top custom-navbar-color navbar-dark">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/">
                <img src="{% static 'dl_package/img/bonjory_logo.png' %}" alt="bonjory logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" data-bs-theme="dark">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Handlime</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">ホーム</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'install_guide' %}">インストールガイド</a>
                        </li>
                        <br>
                        {% if user.is_staff or user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'zip_upload' %}" class="nav-link active">ゲームアップロード</a>
                        </li>

                        <li class="nav-item">
                            <form class="" id="logout-form" method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <br><br>
                                <a class="nav-link active" href="#" id="logout-link">ログアウト</a>
                            </form>
                        </li>
                        <small>
                            <p>スタッフ: {{ user.email }}</p>
                        </small>
                        {% elif user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'add_serial_number' %}" class="nav-link active">シリアル番号登録 & ゲームダウンロード</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link active">お問い合わせ</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <form class="" id="logout-form" method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <br><br>
                                <a class="nav-link active" href="#" id="logout-link">ログアウト</a>
                            </form>
                        </li>
                        <small>
                            <p>ログイン中: {{ user.email }}</p>
                        </small>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link active">ログイン</span></a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}" class="nav-link active">サインアップ</span></a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link active">お問い合わせ</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{% static 'dl_package/js/scripts.js' %}"></script>

</body>

</html>