{% extends "dl_package/matsu_fes_base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <h2>登録済みシリアル番号</h2>
    </div>

    <div class="row">
        <p>{{ serial }}</p>
    </div>
    
    <div class="row">
        <p>あなたのシリアル番号は既に登録されています．</p>
    </div>
    
    <div class="row">
        <form method="get" action="{% url 'download_file' %}">
            <button type="submit" class="btn btn-primary btn-lg">Handlimeをダウンロード</button>
        </form>
    </div>
    <div class="row">
        <p>ご不明な点は開発チームまでお問い合わせください．</p>
    </div>
{% endblock %}