{% extends 'dl_package/base.html' %}

{% block content %}
<div class="verPost">
    <div class="detail-top">
        <h2>v{{ post.ver_num }}</h2>
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'verPost_edit' pk=post.pk %}"><span
                class="glyphicon glyphicon-pencil"></span></a>
        <form method="POST" action="{% url 'post_remove' pk=post.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="delete">
                Delete
            </button>
        </form>
        {% endif %}
    </div>
    {% if not is_future_post %}
    <div class="date">
        公開日時：{{ post.published_date }}
    </div>
    {% else %}
    <form method="POST" action="{% url 'verPost_publish' pk=post.pk %}" class="post-form">{% csrf_token %}
        <button type="submit" class="post btn btn-secondary" name="publish">Publish</button>
    </form>
    {% endif %}
    <br>
    <p class="guide">更新内容</p>
    <p>{{ post.ver_text|linebreaksbr }}</p>
    <form method="get" action="{% url 'download_file' %}">
        <button type="submit">ダウンロード</button>
    </form>
</div>
{% endblock %}