{% extends 'dl_package/matsu_fes_base.html' %}
{% load django_bootstrap5 %}

{% load static %}

{% block content %}
    {% if form.errors %}
        <div class="red">
            {{ form.errors }}
        </div>
    {% else %}
        <h2>ゲームファイルアップロードページ（.zip）</h2>
    {% endif %}

    {% bootstrap_messages %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "登録" button_type="submit" class="btn-primary" %}
    </form>
{% endblock %}

