{% extends "dl_package/matsu_fes_base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <h2>ログイン</h2>
    </div>
    
    <div class="row">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_messages %}
            {% bootstrap_button "ログイン" button_type="submit" class="btn-primary" %}
        </form>
    </div>

    <div class="row">
        <p><br><br>アカウントがありませんか？<a href="{% url 'signup' %}">サインアップ</a></p>
    </div>
{% endblock %}