/* green: #7bba0a */

/* start of header settings */
.page-header {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    background-color: #7bba0a;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin: 0;
}

.page-header p, .page-header form {
    margin-top: 0;
    margin-bottom: 0;
}

.page-header small {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-top: auto;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    display: flex;
    color: #ffffff;
}

/* end of header settings */

/*
.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.guide {
    font-weight: bold;
} 
*/

/* start of matsu_fes page's style */
.matsu-page-header {
    position: fixed;
    display: flex;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    background-color: #7bba0a;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 20px;
}

.matsu-page-header p, .matsu-page-header form, .matsu-page-header a {
    margin-top: 0;
    margin-bottom: 0;
}

.matsu-page-header small {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-top: auto;
}

.matsu_fes.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0;
    margin:0 auto;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.matsu_fes h1 {
    margin: 0;
    padding: 0;
}

.matsu_fes form {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.header-image {
    height: 100%;
    object-fit: contain;
}

.header-image-cover {
  height: 100%; 
  width: 100%; /* img-fluid が設定されていれば省略可能 */
  object-fit: cover; 
}

/* end of matsu_fes page's style */