/* green: #7bba0a */

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #7bba0a;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header small {
    display: flex;
    align-items: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin: 0;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.guide {
    font-weight: bold;
}

.detail-top {
    display: flex;
    align-items: center;
    gap: 10px;
}